<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'student_css/login.css' %}">
</head>
<body>

    <div class="div1">
        <p>Login</p>
        <hr>

        <form method="POST">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <p>Don’t have an account? <a href="/register/">Register</a></p>

            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
